.btn-primary {
    background-color: rgb(9, 121, 9);
    border-color: rgb(30, 192, 30);
  }
  
  .btn-primary:hover {
    background-color: rgb(23, 207, 23);
    border-color: green;
  }
  
  h1, h2 {
    color: rgb(19, 104, 19);
    font-weight: bold;
  }
  
  #footer {
    text-align: center;
    background-color: green;
    font-family: monospace;
    padding: 5px;
    padding-top: 10px;
    color:rgb(89, 245, 250);
  }
  
  .col-6 h6 {
    font-style: oblique;
    text-align: left;
    padding-top: 25px;
  }
  
  .col-6 img {
    height: 95%;
  }
  
  #about {
    margin-top: 100px;
  }
  
  .card-title {
    color: rgb(17, 112, 17);
    font-weight: bold;
  }
  
  .navbar ul li a:hover {
    color: turquoise;
    font-weight: bold;
    background: turquoise;
    transition: .3s;
  }
  
  .navbar ul li a:focus {
    color: greenyellow;
    font-weight: bold;
    background: greenyellow;
    transition: .3s;
  }
  
  .navbar ul li a:active {
    color: rgb(9, 170, 9);
    font-weight: bold;
    background: rgb(12, 192, 12);
    transition: .3s;
  }
  
  body{
    background-color: rgb(228, 252, 193);
  }
  
  